@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-marine-blue text-white transition-colors hover:bg-marine-blue/80;
  }
  .btn-secondary {
    @apply bg-purplish-blue text-white transition-colors hover:bg-purplish-blue/80;
  }
  .btn-no-fill {
    @apply rounded-md text-cool-gray transition-colors hover:text-marine-blue;
  }
}

@font-face {
  font-family: "UbuntuBold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "UbuntuMedium";
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "UbuntuRegular";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

:root {
  font-family: "Ubuntu", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: hsl(218, 100%, 97%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
